spring:
  application:
    name: admin-form
  datasource:
    url: jdbc:postgresql://localhost:5432/bd_gemini
    username: beto
    password: B3t026082006!
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081