@import "tailwindcss";

/* Soporte para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

/* Soporte para Chrome, Edge y Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Súper delgadito */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fondo invisible para que no ocupe espacio visual */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151; /* Un gris oscuro (equivalente a bg-gray-700) */
  border-radius: 10px; /* Bordes bien redondeados */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Un gris un poco más claro al pasar el mouse */
}

/* Hack para el autocompletado en Dark Mode */
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    /* Usa un box-shadow interno gigante del color de tu fondo (slate-900) */
    -webkit-box-shadow: 0 0 0 30px #0f172a inset !important;
    /* Fuerza el color del texto a blanco */
    -webkit-text-fill-color: white !important;
    /* Fuerza el color del cursor */
    caret-color: white !important;
  }

  .login-input:-webkit-autofill,
  .login-input:-webkit-autofill:hover, 
  .login-input:-webkit-autofill:focus, 
  .login-input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f9fafb inset !important; /* Equivalente a bg-gray-50 */
    -webkit-text-fill-color: #374151 !important; /* Equivalente a text-gray-700 */
    caret-color: #374151 !important;
  }
}

.add-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  background: #155DFC;
  padding: 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.add-button:hover {
  background: #1447E6;
  transform: scale(1.05);
}

.add-button:active{
  transform: scale(0.95);
}

.edit-button {
  display: flex;
  justify-content: center;
  background: #FE9A00;
  gap: 8px;
  padding: 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.edit-button:hover {
  background: #E17100;
  transform: scale(1.1);
}

.edit-button:active{
  transform: scale(0.95);
}

.delete-button {
  display: flex;
  background: #FB2C36;
  padding: 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.delete-button:hover {
  background: #E7000B;
  transform: scale(1.1);
}

.delete-button:active{
  transform: scale(0.95);
}

.activate-button {
  display: flex;
  background: #00A63E;
  padding: 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.activate-button:hover {
  background: #008235;
  transform: scale(1.1);
}

.activate-button:active{
  transform: scale(0.95);
}

